<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/E5655209/OneDrive - FIS/Desktop/Notes/Software Testing/SeleniumFirst">
    <groups>
        <run>
            <include name="Smoke"/>
        </run>
    </groups>
    </test>
</suite>
